.body {
  height: 100vh;
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.body > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vh;
  font-family: 'Mountains of Christmas', serif;
  text-shadow: 3px 3px black;
  color: rgb(79, 131, 241);
  margin-top: -7px;
}
