.snowball {
  width: 45vw;
  height: 50vh;
  background-image: url("./assets/snowball.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.snowball h2 {
  margin-top: 50px;
}

.snowmanPreview li{
  display: flex;
  flex-direction: column;
  line-height: 9px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
