.snow {
  width: 49vw;
  height: 22vh;
  background-image: url("./assets/snow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.snowList li article{
  display: flex;
  letter-spacing: 2px;
  margin-top: -25px;
  justify-content: center;
  align-items: center;
}

.snowList li button {
  height: 30px;
}
